PORT=3000
DATABASE_URL=postgresql://postgres:[PASSWORD]@db.[PROJECT-REF].supabase.co:5432/postgres
JWT_SECRET=super_secret_jwt_key_change_me_in_production
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
SMTP_USER=roshanavatirak@gmail.com
SMTP_PASS=gpkbvidpfcgmybwg
BACKEND_URL=http://localhost:3000
REDIS_URL="rediss://default:gQAAAAAAAkIXAAIgcDFhMTQzMmI2MTgxNTM0ZTFlYjM0MGZmNWMzNDkzN2RhOA@known-caiman-147991.upstash.io:6379"

